.cards-wrapper{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    gap: 3vw;
}

.cards-container{
    background: whitesmoke;
}

.centerAllign {
    display: flex;
}
.bar-div{
    background: #3f4e54;
}

.bar-text-move{
    margin-top: 1vw;
}
.bar-text{
color: aliceblue;
}