.cards-wrapper{
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
    gap: 3vw;
    align-items:center;
    width: 90vw;
    background: whitesmoke;
}
.centerAllign {
    display: flex;
}
.bar-div{
    background: #3f4e54;
}

.bar-text-move{
    margin-top: 1vw;
}
.bar-text{
color: aliceblue;
}