
.logo {
    font-weight: 700;
    font-size: 60px;
    font-family: Roboto;
    color: #c10a46;
}
.header-box{
    width: 100%;
    display: flex;
    align-items: center;
}
.Header{
    width: 100%;
    background-color: aliceblue;
}

.shop-cart-button{
float: right;
    cursor: pointer;
    transition:color 500ms ease;
}
.shop-cart-button.active{
    color:#dc3d3d;
}
.shop-cart-button:hover{
color: #dc3d3d;
}
.shop-cart{
    position: absolute;
    top: 5vw;
    width: 30vw;
    min-height: 20vw;
    background: white;
    box-shadow: 4px 5px 15px -7px #606060;
}

.total-price{
    position: absolute;
    margin-left: 12vw;
    display: flex;
}

.cart-block{
    right: 50vw;
    width: 10vw;
}