ul.nav {
    float: right;
    list-style: none;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

ul.nav li{
    display: inline;
    margin-left: 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

ul.nav li:hover{
    opacity: 0.5;
}
.Menu{
    position: absolute;
    top: 0;
    right: 0 ;
}